@model TalkGaming.ViewModels.PostFormViewModel
@{
    ViewBag.Title = "NewPost";
}

<h2 class="newpost-title">New Post</h2>

@using (Html.BeginForm("Save", "Posts", new { forumTitle = Model.ForumName }, FormMethod.Post, null))
{
    @Html.ValidationSummary(true, "Please fix your form below.")
    <div class="form-group">
        @Html.LabelFor(m => m.Post.Title)
        @Html.TextBoxFor(m => m.Post.Title, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Post.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Post.Content)
        @Html.TextAreaFor(m => m.Post.Content, new { @class = "form-control newpost-content-box"})
        @Html.ValidationMessageFor(m => m.Post.Content)
    </div>

    @Html.HiddenFor(m => m.Post.Forum_Id)
    @Html.HiddenFor(m => m.Post.Id)
    @Html.HiddenFor(m => m.Post.TimeCreated)
    <button type="submit" class="newpost-button-save">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}